@model IndexViewModel

@{
    ViewData["Title"] = "InsertPersonne";
}

<div>
    <form action="" method="">
        <div>
            <label for="Nom">Nom :</label>
            <input type="text" name="Nom" id="nom" placeholder="JOUFFRIEAU" required />
        </div>
        <div>
            <label for="Prenom">Prénom :</label>
            <input type="text" name="Prenom" id="Prenom" placeholder="Timothée" required />
        </div>
        <div>
            <label for="DateNaissance">Date de naissance :</label>
            <input type="text" name="DateNaissance" id="DateNaissance" placeholder="14/06/1930" required />
        </div>
        <div>
            <label for="Nationalite">Nationalité :</label>
            <input type="text" name="Nationalite" id="Nationalite" placeholder="Italien" required />
        </div>
        <div>
            <label for="Professions">Profession(s) :</label>
            <input type="text" name="Professions" id="Professions"  placeholder="Vendeur de glaces" required />
        </div>
        <div>
            <input type="submit" value="Ajouter cette personne"
        </div>
    </form>
</div>

